body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  width: 80%;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

li {
  list-style: none;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.incomplete-area {
  background-color: #ffffe0;
  width: auto;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: #c6ffe2;
  width: auto;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
}

.todo-name {
  margin-right: 8px;
}
