body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  width: 80%;
  outline: none;
}

.todo-field {
  display: flex;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

.input-btn {
  width: 300px;
}

li {
  list-style: none;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
}

.todo-name {
  margin-right: 8px;
}
